<div id="histogram-timeslider" class="esriTimeSlider">
 <div id="histogram-timeslider-dijit">
   <div id="focusTip"></div>
   <div id="scale-bar-left"></div>
   <div id="scale-bar-right"></div>
   <div id="histogram-container"></div>
   <div id="histogram-slider"></div>
   <div id="histogram-controls">
     <div class="histogram-paging" id="histogram-page-back">
       <button id="histogram-back" class="btn" disabled>
         <span id="histogram-backward-icon-loading" class="loading-graphics"></span>
         <i id="histogram-backward-icon" class="icon-backward"></i>
       </button>
     </div>
     <div id="histogram-range">时间跨度</div>
     <div class="histogram-paging" id="histogram-page-forward">
       <button class="btn" id="histogram-forward" disabled>
          <span id="histogram-forward-icon-loading" class="loading-graphics"></span>
          <i id="histogram-forward-icon" class="icon-forward"></i>
        </button>
     </div>
   </div>
  </div>
</div>